<script>
    $(document).ready(function () {
        {% if site.google_scholar_stats_use_cdn %}
        var gsDataBaseUrl = 'https://cdn.jsdelivr.net/gh/{{ site.repository }}@'
        {% else %}
        var gsDataBaseUrl = 'https://raw.githubusercontent.com/{{ site.repository }}/'
        {% endif %}
        $.getJSON(gsDataBaseUrl + "google-scholar-stats/gs_data.json", function (data) {
            var totalCiteEl = document.getElementById('total_cit');
            if (totalCiteEl && data['citedby'] != null) {
                var n = data['citedby'];
                totalCiteEl.innerHTML = n >= 1000 ? (Math.floor(n / 100) / 10) + 'k+' : n + '+';
            }
            var citationEles = document.getElementsByClassName('show_paper_citations');
            Array.prototype.forEach.call(citationEles, function (element) {
                var paperId = element.getAttribute('data');
                var pub = data['publications'] && data['publications'][paperId];
                if (pub && pub['num_citations'] != null) {
                    element.innerHTML = '| Citations: ' + pub['num_citations'];
                }
            });
        });
    })
</script>
