<!DOCTYPE html>
<html lang="{{ site.lang }}">

  <!-- Head -->
  <head>
  {%- if page.redirect -%}
    <meta http-equiv="refresh" content="3; url={{ site.baseurl }}/" />
  {%- endif -%}
  {% include head.html %}
  </head>

  <!-- Body -->
  <body class="{% if site.navbar_fixed %}fixed-top-nav{% endif %} {% unless site.footer_fixed %}sticky-bottom-footer{% endunless %}">

    <!-- Header -->
    {%- include header.html %}

    <!-- Content -->
    <div class="container mt-5">
      {% if page.toc and page.toc.sidebar %}
        {% if page.toc.sidebar == "right" %}
        <div class="row">
          <!-- main content area -->
          <div class="col-sm-9">
            {{ content }}
          </div>
          <!-- sidebar, which will move to the top on a small screen -->
          <div class="col-sm-3">
            <nav id="toc-sidebar" class="sticky-top"></nav>
          </div>
        </div>
        {% else %}
        <div class="row">
          <!-- sidebar, which will move to the top on a small screen -->
          <div class="col-sm-3">
            <nav id="toc-sidebar" class="sticky-top"></nav>
          </div>
          <!-- main content area -->
          <div class="col-sm-9">
            {{ content }}
          </div>
        </div>
        {% endif %}
      {% else %}
        {{ content }}
      {% endif %}
    </div>

            <!-- Contact Button -->
<div id="contactBtn" onclick="toggleForm()">
  Let's Chat 💬
</div>

<!-- Contact Form -->
<div id="contactForm">
  <div class="formHeader">
    <h2>Have a thought? Let's chat!</h2>
    <button onclick="toggleForm()" class="closeBtn">x</button>
  </div>
  <form action="https://formspree.io/f/mdorylbw" method="post">
    <label for="email">Email</label>
    <input type="email" id="email" name="email" placeholder="Enter your email">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" placeholder="Enter your name">
    <label for="message">Message</label>
    <textarea id="message" name="message" placeholder="Enter your message"></textarea>

    <input type="submit" value="SEND">
  </form>
</div>


<script>
  function toggleForm() {
  const form = document.getElementById('contactForm');
  if (form.style.transform === 'translateY(0%)') {
    form.style.transform = 'translateY(100%)';
  } else {
    form.style.transform = 'translateY(0%)';
  }
}

</script>

    <!-- Footer -->
    {%- include footer.html %}

    <!-- JavaScripts -->
    {% include scripts/jquery.html %}
    {% include scripts/bootstrap.html %}
    {% include scripts/masonry.html %}
    {% include scripts/misc.html %}
    {% include scripts/badges.html %}
    {% include scripts/mathjax.html %}
    {% include scripts/analytics.html %}
    {% include scripts/progressBar.html %}
    {% include scripts/wechatModal.html %}
  </body>
</html>
